<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>So nicht mein Freund</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div class="jumbotron">
    <div class="row text-center">
        <div class="">
            <h2>Gratulation</h2>
            <h4>Du bist anscheinend ein kleiner Hacker.</h4>
            <h4>War das wirklich notwendig?</h4>
            <h4>Wie auch immer, hier kommst du nicht rein.</h4>
            <img th:src="@{/images/403.jpg}" src="../images/403.jpg"/>
        </div>
    </div>
</div>
</div>
</body>
</html>