<!DOCTYPE html>
<html>
<head lang="en">

    <title>About</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <div>
                <h3>Version 1.0, @2016</h3>
            </div>
            <div>Geplant und umgesetzt in wenig Zeit.</div>
            <div>Wenn es wem gefällt gibts mehr.</div>
            <div>Grafiker sind wir beide nicht.</div>
            <div>Ohne Geld, Ressourcen.</div>
            <div>Mit ein paar Bier.</div>
            <div>Laufen tuts.</div>
            <div>Viel Spaß.</div>
            <div>Fragen?</div>

            <p>
                <div>
                    <b>Stefan</b> - <a href="mailto:diverses[ät]starkeweb.org">E-Mail</a>
                </div>
                <div>
                    <b>Marco</b> - <a href="mailto:mrc.hampel[ät]gmail.com">E-Mail</a>
                </div>
            </p>
        </div>
    </div>
</div>
</body>
</html>