<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>Kabumm</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div class="jumbotron"">
    <div class="row text-center">
        <div class="">
            <h2>Gratulation</h2>
            <h4>Sie haben es geschafft diese Seite kaputt zu machen.</h4>
            <h4>War das wirklich notwendig?</h4>
            <h4>Bitte sei in Zukunft vorsichtiger. Danke.</h4>
            <img th:src="@{/images/error.jpg}" src="../images/error.jpg"/>
        </div>
    </div>
</div>
</div>
</body>
</html>