<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Keine weiteren Fragen</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">

    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>Gratulation! Du hast alle Fragen durchgespielt.</h2>
                <h3><a href="#" th:href="@{/game/startQuickGame}">Neues spontanes Spiel?</a></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>